.form {
  &__group:not(:last-child) {
    // add margin to everything except the last element
    margin-bottom: 2rem;
  }
  &__input {
    //creating the input style
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;
    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      //create bottom border green when focus
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      // Change bottom color to orange until valid input
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      //add color to the bottom of input when trying to type
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; //make the placeholder move down slower
  }

  &__input:placeholder-shown + &__label {
    //show the label when type in input
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); //make the placeholder move down
  }

  &__radio-group {
    //create our own radio and hide HTML one
    width: 49%;
    display: inline-block;
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  //hide the html button
  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    // create a fake radio button and hide the HTML one
    &::after {
      content: ''; //when using psudo element need to init the content
      display: block;
      height: 1rem;
      width: 1.3rem;
      border-radius: 50%; //creat a cirlcler element
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  //show the the checked dot in the innner button

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
